@charset "UTF-8";

/*****Login Form*****/
div#login form table {
	border-spacing:2px;
	background-color:#F5F5F5;	
	height:150px;
}

input.registerButton {
	color: blue;
}

td.loginError {
	color: red;
	width: 450px;
}

/*****Registration Form*****/
div#register form table {
	border-spacing:2px;
	background-color:#F5F5F5;	
	height:200px;
}

td.title {
	width: 150px;
}

td.input {
	width: 150px;
}

td.error {
	width: 150px;
	color: red;
}

div#registraionCompleted {
	width: 450px;
}

div#registraionCompleted h4 {
	color: red;
}

/*****Transaction Form*****/
td.success {
	color: blue;
	width: 450px;
}

td.transError {
	color: red;
	width: 450px;
}

/*****Admin Page*****/
div#adminPage {
	background-color: #F5F5F5;
	width: 400px;
}

div#adminPage form table {
	width: 400px;
}

/*****User Page*****/
div#loginHistory {
	position: absolute;
	height: 200px;
	width: 400px;
	background-color: #F5F5F5;
	left: 330px;
	top: 58px;
}

div#loginHistory table {
	width: 400px;
}

div#transHistory {
	position: absolute;
	height: 200px;
	width: 500px;
	background-color: #F5F5F5;
	left: 300px;
	top: 58px;
}

div#userOperation {
	position: absolute;
	height: 200px;
	width: 200px;
	background-color: #F5F5F5;
	left: 745px;
	top: 58px;
}

div#userOperation table {
	height: 200px;
	width: 200px;
}

div#transHistory table {
	width: 500px;
}

td.historyTitle {
	height: 20px;
}




